.btn {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
      font-size: 1.6rem;
    }
  
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba($clr-black, 0.2);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba($clr-black, 0.2);
    }
  
    &--green {
      background-color: $clr-white;
      color: $clr-primary-dark;
      font-family: "Tektur", cursive;
      letter-spacing: 1.2px;
      font-weight: 500;
  
      &::after {
        background-color: $clr-white;
      }
    }
  
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  
  
    &--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
    }
  }
  